
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
  color: #183230;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1 {
  font-size: 4rem;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'Work Sans', sans-serif;
  color: #183230;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  background: #183230;
}

.navbar-header {
  margin-left: 10px;
}

.navbar-brand {
  margin-left: 20px;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  float: none;
}

.navbar-toggler {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.offcanvas {
  background: #183230;
}

.offcanvas-header {
  background: #183230;
}

.offcanvas-body {
  background: #183230;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  font-weight: 300;
  font-size: 1.5rem;
}

.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100px;
  width: 100px;
  background: #FAEFEE;
  margin: 15px;
  padding: 20px;
}

.card-cocktail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  width: auto;
  background: #FAEFEE;
  margin: 15px;
  padding: 20px;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 80%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.container-footer {
    width: 100%;
    margin-top: auto;
    padding: 5px 20px;
    text-align: center;
    background: #183230;
}

.footer-p {
  padding-top: 8rem;
}

.btn {
  padding: 10px 20px;
  background: #F2B137;
  color: #183230;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #FA8216;
  color: #183230;
  
}

.btn:hover {
  transform: scale(0.98);
}

img {
  max-width: 100%;
  width: 700px;  
  margin: 10px;
}

#cry {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .form img {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}